<div class="xcard">
        <table class="">
            <thead >
            <tr>
                <th >Base</th>
                <th >Quote</th>
                <th >Rate</th>
            </tr>
            </thead>
            <tbody *ngFor="let quote of exchangeRate">
            <tr  (click)="showQuote(quote)">
                <td>{{ quote.base }}</td>
                <td>{{ quote.quote }}</td>
                <td>{{ quote.quotation }}</td>
            </tr>
            </tbody>
        </table>
</div>

